<% if (pages> 0) { %>
    <ul class="pagination_nav unordered_list">
        <% if (current==1) { %>
            <li><a href="#!"><i class="fas fa-long-arrow-left"></i></a></li>
            <% } else { %>
                <li><a href="<%=home%>page=1"><i class="fas fa-long-arrow-left"></i></a></li>
                <% } %>
                    <% var i=(Number(current)> 5 ? Number(current) - 4 : 1) %> <% if (i !==1) { %>
                            <li><a href="#!">...</a></li>
                            <% } %>
                                <% for (; i <=(Number(current) + 4) && i <=pages; i++) { %>
                                    <% if (i==current) { %>
                                        <li class="active"><a href="#!">
                                                <%=i%>
                                            </a></li>
                                        <% } else { %>
                                            <li><a href="<%=home%>page=<%=i%>">
                                                    <%=i%>
                                                </a></li>
                                            <% } %>
                                                <% if (i==Number(current) + 4 && i < pages) { %>
                                                    <li><a href="#!">...</a></li>
                                                    <% } %>
                                                        <% } %>
                                                            <% if (current==pages) { %>
                                                                <li><a href="#!"><i
                                                                            class="fas fa-long-arrow-right"></i></a>
                                                                </li>
                                                                <% } else { %>
                                                                    <li><a href="<%=home%>page=<%=pages%>"><i
                                                                                class="fas fa-long-arrow-right"></i></a>
                                                                    </li>
                                                                    <% } %>
    </ul>
    <% } %>